# Standard Pitchfork .gitignore
build

# External source code
external/*/*

# Generated binary content
*.pdf
*.eps
*.gif
*.png
*.cgns
*.cgn
*.hdf5
*.hdf

# Old, temporary, local, and extra files
*.old
old.*
*.new
new.*
*.tmp
tmp.*
*.bad
bad.*
*.local
local.*

# Stray stdout, stderr, and log files
*.out
*.err
*.log

# valgrind suppression files
*.supp

# CI/CD stuff
*.yml

# Auto-created directories and files
*.kate-swp
*.lyx~
*.lyx#
*.tex~
*.pyc
__pycache__/
*.py[cod]
*$py.class
cython_debug/
