[submodule "external/testy"]
	path = external/testy
	url = ../../uq-coe/testy
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
	branch = v1.10.x
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
	branch = v2.5.0
[submodule "external/hdf5"]
	path = external/hdf5
	url = https://github.com/HDFGroup/hdf5.git
	branch = hdf5_1_12
[submodule "external/CGNS"]
	path = external/CGNS
	url = https://github.com/CGNS/CGNS.git
	branch = CPEX45_high_order
[submodule "external/gmsh"]
	path = external/gmsh
	url = https://gitlab.onelab.info/gmsh/gmsh.git
	branch = gmsh_4_5_6
[submodule "external/petsc"]
	path = external/petsc
	url = https://gitlab.com/petsc/petsc.git
	branch = maint
