[submodule "external/bats-core"]
	path = external/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "external/bats-support"]
	path = external/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "external/bats-assert/"]
	path = external/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "external/bats-file/"]
	path = external/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
	branch = v1.10.x
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
	branch = v2.5.0
[submodule "external/hdf5"]
	path = external/hdf5
	url = https://github.com/HDFGroup/hdf5.git
	branch = develop
[submodule "external/CGNS"]
	path = external/CGNS
	url = https://github.com/CGNS/CGNS.git
	branch = CPEX45_high_order
[submodule "external/gmsh"]
	path = external/gmsh
	url = https://gitlab.onelab.info/gmsh/gmsh.git
[submodule "external/petsc"]
	path = external/petsc
	url = https://gitlab.com/petsc/petsc.git
	branch = release
[submodule "external/freetype"]
        path = external/freetype
        url = https://gitlab.freedesktop.org/freetype/freetype.git
        branch = master
[submodule "external/fltk"]
        path = external/fltk
        url = https://github.com/fltk/fltk.git
        branch = branch-1.3
